<suite name="Demo Project">

    <test name="module 1">

        <classes>
            <class name="TestNGDemo.Demo.ClassOne"/>
            <class name="TestNGDemo.Demo.ClassTwo"/>
        </classes>

    </test>


    <test name="module 2">
        <classes>
        <class name="TestNGDemo.Demo.ClassThree"/>
        <class name="TestNGDemo.Demo.ClassFour"/>
        </classes>
    </test>


</suite>